PORT=3000
SITE_URL=https://crv4mayorista.com.ar
DATABASE_URL=mysql://u605057087_crv4web:REEMPLAZAR_PASSWORD@localhost:3306/u605057087_crv4web
LOCAL_API_URL=https://192.168.100.128:5443
LOCAL_API_USER=REEMPLAZAR_USUARIO
LOCAL_API_PASSWORD=REEMPLAZAR_PASSWORD
